<!DOCTYPE html>
<html style="height:100%;">

<head>
  <meta charset="UTF-8">
  <title>Neutrino Search</title>
  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../node_modules/vue/dist/vue.min.js"></script>
  <script src="../front-end/search.js"></script>

  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>
  <link rel="stylesheet" href="../assets/css/style.css">
  <style>
  </style>
</head>
<!-- style="height: 100%;border: 1px solid red" -->

<body>
  <div id="vueApp">

    <div class="input-group input-group-lg" style="-webkit-app-region: drag">
      <i class="icon-left icon-search_neutrino" v-bind:class="{ selected: ActiveSearch === 'file' }"></i>
      <i class="icon-left icon-google" v-bind:class="{ selected: ActiveSearch === 'google' }" ></i>
      <input id="searchInput" 
            v-on:keyup="search($event)"
            type="text" 
            class="form-control" 
            aria-label="Large" 
            aria-describedby="inputGroup-sizing-sm" 
            placeholder="Search...">
    </div>
    <div class="list-group" v-if="results.length > 0">
      <!-- Search results go here -->
      <a v-for="item in results" 
        href="#"
        v-on:click="openApp(item.path)" 
        v-bind:attr-path="item.path" 
        v-bind:class="{ 
          'animated flipInX list-group-item list-group-item-action': animated, 
          'list-group-item list-group-item-action' : !animated,
          'selected': item.selected
        }">
          <img v-if="!!item.icon" style="max-width:21px;" v-bind:src="item.icon" />
          <i v-if="!item.icon" class="icon-libreoffice"></i>
          {{item.name}}
      </a>
    </div>
    <!-- <button id="settings">Settings</button> -->

    <audio style="display: none;" class="switch-search-icon">
      <source src="../assets/jp lightswitch03.mp3" type="audio/mpeg"> Your browser does not support the audio element.
    </audio>
    </audio>
    <audio style="display: none;" class="select">
      <source src="../assets/light switch (2).mp3" type="audio/mpeg"> Your browser does not support the audio element.
    </audio>
    </audio>
</div>
</body>


</html>