<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Neutrino Settings</title>
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
    <script src="../front-end/search.js"></script>

    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <style>
        label {
            display: block;
        }

        textarea {
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="settings" class="container">
        <h2 style="margin:20px 0;">Indexing Settings </h2>
        <div v-for="pathKey in pathKeys" class="content" style="margin-bottom: 30px">
            <h4>
                <span class="badge badge-secondary">{{pathKey}}</span>
                <button style="float: right;" v-on:click="addPath(pathKey)" type="button" class="btn btn-primary btn-sm">New</button>
            </h4>

            <div style="margin-bottom: 15px;" class="form-row" v-for="( path, index ) in paths[pathKey]">
                <div class="col-7">
                    <input v-model="path.root" type="text" class="form-control" placeholder="Path">
                </div>
                <div class="col-4">
                    <input v-model="path.fileFilter" type="text" class="form-control" placeholder="Filter">
                </div>
                <div class="col">
                    <button v-on:click="removePath(pathKey, index )" style="float: left;" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        </div>
        <button type="button" class="btn btn-info" v-on:click="close" >Close</button>
        <button type="button" class="btn btn-success" v-on:click="save" >Save</button>

        <div class="animation">
            <div class="left">
                <span class="line"><span class="dot"></span></span>
            </div>
            <div class="right">
                <span class="line"><span class="dot"></span></span>
            </div>
        </div>
    </div>
    <script>
        // console.log(require('../back-end/index').Data.get('settings'));
        var Settings;
        // jQuery(document).ready(() => {
        var Data = require('../back-end/data/index');
        var backEndSettings = Data.get('settings');

        console.log('ready');
        Settings = new Vue({
            el: '#settings',
            data: {
                paths: backEndSettings.paths,
                pathKeys: Object.keys(backEndSettings.paths)
            },
            methods: {
                save: function () {
                    console.log(this.pathKeys, this.paths);
                    backEndSettings.paths = this.paths;
                    Data.set('settings', null, backEndSettings);
                },
                close: function() {

                },
                addPath: function (key) {
                    this.paths[key].push({ fileFilter: '', root: '' })
                },
                removePath: function (key, index) {
                    this.paths[key] = this.paths[key].filter((path, i) => i !== index);
                    console.log(this.paths[key]);
                }
            }
        })
            // Settings.$methods.greet();
        // })
    </script>
</body>

</html>